.fenxiang{
	width:0.875rem ;
	height: 0.875rem;
}
.video_content{
	width: 100%;
	height: 12.05rem;
	padding-left: 0.75rem;
	padding-right: 0.75rem;
	margin-top: 0.5rem;
	position: relative;
}
.video_content >img{
	width: 100%;
	height: 8.875rem;
	border-radius: 5px;
}
.video_content p{
	font-size: 0.75rem;
	text-align: left;
	margin-top: 0.3rem;
}
.video_play{
    width: 2.7rem !important;
    height: 2.625rem !important;
    display: block;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%,-50%);
}